.main__text{
    font-size: 18px;
    line-height: 32px;
    max-width: 300px;
    margin-top: 59px;
}
.main{
    border-bottom: 1px solid #BDBDBD;
    min-height: 210px;
}
.Rectangle{
    margin-top: 34px;
}

@media (max-width: 575.98px){
    .main__text{
        margin: 0 auto;
        padding-top: 20px;
    }
    .Rectangle{
        margin-left: 30px;
    }
}

@media (min-width: 768px){
    .main__text{
        margin: 0 auto;
        padding-top: 46px;
    }
    .Rectangle{
        margin-left: 183px;
        margin-top: 34px;
    }
}

@media (min-width: 992px){
    .Rectangle{
        margin-left: 0;
    }
}