.main__text{
    font-size: 18px;
    line-height: 32px;
    max-width: 300px;
    margin-top: 59px;
}

.ny{
    margin-top: 34px;
}

.main{
    border-bottom: 1px solid #BDBDBD;
    min-height: 210px;
}

@media (min-width: 768px){
    .main__text{
        margin: 0 auto;
        padding-top: 46px;
    }
    .ny{
        margin-left: 183px;
        margin-top: 34px;
    }
}

@media (min-width: 992px){
    .ny{
        margin-left: 0;
        margin-top: 11px;
    }
}