.stay__text{
    font-family: 'DM Serif Display', serif;
    font-size: 42px;
    line-height: 72px;
    margin-top: 45px;
    color: #ffffff;
    font-weight: bold;
}
.stay__h4{
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
    max-width: 420px;
    margin-top: 12px;
    margin-bottom: 30px;
}

.input__email{
    letter-spacing: 0.12px;
    outline: none;
    background: none;
    border: none;
    min-width: 420px;
    font-size: 9px;
    color: #818181;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}

.input__email:hover{
    font-size: 10px;
    transition: 0.3s;
}

.input__butt{
    background: none;
    color: #ffffff;
    border: none;
}