.stay__text{
    font-family: 'DM Serif Display', serif;
    font-size: 42px;
    line-height: 72px;
    margin-top: 45px;
    color: #ffffff;
    font-weight: bold;
}
.stay__h4{
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
    max-width: 420px;
    margin-top: 12px;
    margin-bottom: 30px;
}

.input__email{
    letter-spacing: 0.12px;
    outline: none;
    background: none;
    border: none;
    min-width: 420px;
    font-size: 14px;
    color: #818181;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}



.input__butt{
    background: none;
    color: #ffffff;
    border: none;
}


@media (max-width: 576px){
    .input__email{
        min-width: 280px;
    }
    .input__butt{
        width: 265px;
        margin-left: 8px;
        border: 1px solid;
        padding: 20px;
        margin-top: 16px;
    }
    
}
